[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
crowd-kit = "*"
toloka-kit = "*"
pandas = "*"
numpy = "*"
python-Levenshtein = "*"
jiwer = "*"
nltk = "*"
tqdm = "*"

[requires]
python_version = "3"
